<!DOCTYPE html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react-with-addons.min.js"></script>
</head>
<body>
  <div id="md-placeholder"></div>
  <script src="/public-dist/client.bundle.js"></script>
</body>
</html>
